body, 
html,
* {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(98, 169, 240);
}

h1, h2 {
  text-align: center;
}

button {
  margin: 10px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

p {
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

input[type="text"] {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid #4CAF50;
}

input[type="text"]::placeholder {
  color: #ccc;
}