body {
  background: #faaca8;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  text-align: center;
  color: #333;
  margin-top: 50px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

#quote {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  max-width: 800px;
  padding: 30px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

#author {
  font-size: 24px;
  font-style: italic;
  text-align: right;
  margin-top: 20px;
  color: #666;
}

button {
  background-color: #8d1ef4;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 18px;
  margin: 0 auto 30px;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  width: 200px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #e65522;
  transform: translateY(-3px);
}

#quote-list {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 50px auto;
  max-width: 800px;
  padding: 30px;
}

#quote-list-item {
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 20px 0;
}

#quote-list-item:last-child {
  border-bottom: none;
}

#quote-list-item span {
  color: #f4511e;
  font-style: italic;
}

#search {
  background-color: #f5f5f5;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  margin: 50px auto;
  max-width: 400px;
  padding: 14px 28px;
  margin-left: 650px;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease;
}

#search:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
#label {
  opacity: 0%;
}